[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
cloudinary = "*"
requests = "*"
tabulate = "*"
natural = "*"
matplotlib = "==3.3.2"
ipykernel = "*"

[requires]
python_version = "3.9"
